.imagem {
    width: 150px;
    height: 180px;
}

.nome {
    font-weight: 700;
    margin-right: 20px;
}

.card-container {
    background-color: #E9E9E9;
    display: flex;
    padding: 20px;
    align-items: center;
    width: 50%;
    margin-bottom: 10px;
}

.nome-container {
    display: flex;
    margin-bottom: 20px;
    display: block;
}

.texto-container {
    margin-left: 30px;
    min-width: 82%;
}

p {
    margin: 0;
    padding: 0;
}